.container {
  max-width: 1700px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  .categories{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pizzas{
    display: flex;
    flex-wrap: wrap;
  }
  .pagination{
    margin: 15px ;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      background: transparent;
      border: none;
      box-shadow: var(--shadow);
      padding: 5px 10px;
      margin: 3px;
    }
    .btnActive{
      background: rgba(255, 0, 0, 0.466);
    }
    .disable{
      color: rgba(128, 128, 128, 0.561);
    }
  }
}


