.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1700px;
  margin: auto;
  padding: 0 20px;
  .logo {
    flex: 1;
  }
  .nav {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
